@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.Home {
  width: 100%;
  min-width: 421px !important;
}

.section{
  min-height: 50rem;
}

.centerThisComponent {
  text-align: center;
  alignment: center;
  align-items: center;
}
