@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Raleway|Amatic+SC');

.About {
  text-align: center;
  background-color: #c492b1;
  font-family: 'Raleway', sans-serif;
  color: #424651;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.about-title{
  font-weight: bold;
  font-size: 3.5rem;

}
.phrase-title{
  font-weight: bold;
  font-size: 1.5rem;
  padding:5%;
}

#wave2 {
  position: relative;
  height: 70px;
  width: 100%;
  background: #bce7fd;
}

.AxeH2{
	color: #28282E !important;
	margin:  0 auto;
}
