@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.Main{
  	background-color: #424651;
  	width: 100%;
  	min-height: 100vh;
}

.breadcrumb{
	background-color: #BCE7FD;
	color: #424651;
}

.active{
	color: #51585D !important;
}