@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.mini{
  font-size: 0.85rem;
}
.supermini{
  font-size: 0.7rem;
}
.titleBerry {
  color: #424651;
  font-family: 'Raleway';
  padding-bottom: 5%;
}
.grayFont {
  color: gray !important;
}

.Green-link{
  color: #21fa90 !important;
  font-size: 1rem;
  font-weight: bolder;
}
textarea:focus, input:focus{
  outline: none;
}

input{
  width: 12rem;
  background-color: #c492b1 !important;
  border-radius: 18px;
  padding: 1%;
  padding-left: 2% !important;
  color: white !important;
  border: none;
  font-size: 1.2rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -6rem;
}

div.form-group{
  align-items: center !important;
  text-align: center !important;
  alignment: center !important;
  align-content: center !important;
}

::placeholder { /* Firefox, Chrome, Opera */
  color: white;
  align-text: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  align-text: center;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  align-text: center;
}

.mainColor {
  background-color: #bce7fd !important;
  border-radius: 36px;
  border: none;
  color: #424651;
  font-size: 1.5rem;
  font-family: 'Raleway';
}
a.mainColor:hover {
  text-decoration:none !important;
}
.alignRight {
  text-align: center !important;
  font-size: 3rem;
}

.CloseButton{
  position: relative;
  right: -16%;
  top: -12%;
}
