@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC|Raleway');

.Intro {
  text-align: center;
  alignment: center;
  align-content: center;
  align-items: center;
  background-color: #424651;
}

.transformText {
  padding: 5%;
  color:white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.5rem;
  position: absolute;
  left: 65%;
  top: 10%;
}

.pushCenter {
  padding-top: 25%;
}

.mainButton {
  background-color: #bce7fd;
  border: none;
  border-radius: 28px;
  color: #424651;
  font-size: 1.4rem;
  font-family: 'Raleway';
  font-weight: bold;
  margin-top: 1%;
}

.mainBerry {
  font-size: 8rem;
  color: white
}
.subtitleBerry {
  color: white;
  font-size: 1.5rem;
}

.Intro-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  pointer-events: none;
  height: 20em;
  width: 20em;
  background-size: 100%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #424651;
  background-color: #21fa90;
}

#wave {
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: 4%;
  background: #424651;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 60%;
  padding-right: 1%;
  width: 50%;
  height: 80px;
  background-color: #424651;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 60%;
  height: 70px;
  background-color: #424651;
  left: 0;
  top: 27px;
}