@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.Footer {
  text-align: center;
  background-color: white;
  padding: 10%;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  color:gray;
  max-width: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


.Footer-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: 0%;
  margin-bottom: auto;
  pointer-events: none;
  height: 25.3em;
  width: 20em;
  background-size: 100%;
  background-image: url("https://lh3.googleusercontent.com/Y0R8iHOEsyI4nbheJ1TXXlkLJrltaKXRBRNtUSQYNwk-esLFN4zieK1N2ZZj-9Lp0UonhiH9NfAODBeiXlo1-j-FTsAuiVpJlklDcdF3FDk96NxMeewueUXdg2NXmpR_VgG2ARLxHcCiKUX2nyDzbUAYFKr4-C0DLs57nHiMoORakcG6Z-yaSYbuH2P96DU9uY3_zNKWYROFa1zH0GqH76eAD5OnVM9HBlZtalaM6CUkf0bG7hWbgZcKQekLZGP3seFHXK9BcDFhTX-kvzrTrGrOQ5BpOdvgPh0GuKwGJlYXcmNPBtOHBwUuvzEMgcK2r0xJlXXBWVj8NxsHIE_I1rH7aOqu4xYzYcSF2RNySRbh_oZKwfnVD6OnFUgzVQcXqo67MZUNQqmHLGGcgNDxnoV_zHP5TgCl92nN0Pw1lCTLETkBIMmWe_SBRtP8QFhB53Xi5InjNpqvGibNfQEk1OpQNGWIUgujIiXZTXIp7FnPBTyYD6XapKKl74Y2jiVRdhwXdR27OLs7gVuerC2Yjipi4sv9nraDxG7WZj7fTEWgL5_qnOq0g3cvfnh0xP6y8HWVBnXe4Obcdro3qTV6ebmTSace6Ydt0OOtE7kylwmvMDIrrfI9IYstY_MEahKaqVBVvzWuoylfDdazHeuQFTWtk9zjE7ug=w439-h556-no");
}



.creditos{
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 150%;
  padding-top: 50px;
  color: black;
}

.moveAbs {
  padding-top: 13%;
}

.socialIcons{
  font-size: 5rem;
  padding: 1%;
}
