@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.Footer {
  text-align: center;
  background-color: white;
  padding: 10%;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  color:gray;
  max-width: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


.Footer-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: 0%;
  margin-bottom: auto;
  pointer-events: none;
  height: 5rem;
  width: 5rem;
}



.creditos{
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 150%;
  padding-top: 50px;
  color: black;
}

.moveAbs {
  padding-top: 13%;
}

.socialIcons{
  font-size: 5rem;
  padding: 1%;
}
