@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poiret+One|Sacramento|Amatic+SC');

.Edit {
    padding: 10%;
}

.txtInEditor{
	width: 100%;
}

label{
	color: white;
}

.close-btn{
	color: white;
}

.no-padding{
	padding: 0px !important;
}

.AxeH1{
	color: #ffffff;
	margin:  0 auto;
}

.btnContrast{
	background-color: #BCE7FD !important;
	color: #424651 !important;
}